@page
@model Nullam.Pages.Events.IndexModel
@{
}

<br>

<div class="events_grid_container">
	<div class="events_gridItem_1">
		<h3>Ürituste nimekiri</h3>
	</div>

	<div class="events_gridItem_2">
		<img src="~/images/libled.jpg" />
	</div>

	<div class="addEvent_gridItem_3">

		<h4 style="color: #28599C; ">Ürituste nimekiri</h4>

		<a class='btn btn-primary btn-sm btn_eventList_addEvent' href='/Events/Create'>Lisa Üritus</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Ürituse nimi</th>
					<th>Toimumise aeg</th>
					<th>Toimumise asukoht</th>
					<th>Lisainfo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.listEvents)
				{
						<tr>

							<td>@item.id</td>
							<td>@item.name</td>
							<td>@item.eventDate</td>
							<td>@item.eventLocation</td>
							<td>@item.info</td>
					
							<td>
								<a class="btn btn-primary btn-sm" href="/Events/Edit?id=@item.id">Muuda</a>
								<a class="btn btn-danger btn-sm" href="/Events/Delete?id=@item.id">Kustuta</a>
							</td>
						</tr>
				}
		
			</tbody>
		</table>
	</div>
</div>