@page
@model Nullam.Pages.Participants.CreateModel
@{
}

<br>
<h2>Uus Osavõtja</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Eesnimi</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="firstName" value="@Model.participantInfo.firstName">
		</div>
	</div>

	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Perekonnanimi</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="lastName" value="@Model.participantInfo.lastName">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Isikukood</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="securityNumber" value="@Model.participantInfo.securityNumber">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Makse meetod</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="paymentMethod" value="@Model.participantInfo.paymentMethod">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Lisa informatsioon</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="additionalInfo" value="@Model.participantInfo.additionalInfo">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-lable='Close'></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Sisesta</button>
			</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Tühista</a>
		</div>
	</div>
</form>