@page
@model Nullam.Pages.Participants.EditModel
@{
}

<br>

<div class="participants_container">
	<div class="participants_gridItem_1">
		<h3>Muuda Osavõtjat</h3>
</div>

	<div class="participants_gridItem_2">
	<img src="~/images/libled.jpg" />
</div>

	<div class="participants_gridItem_3">

		<h4 style="color: #28599C; ">Muuda Osavõtjat</h4>

@if (Model.errorMessage.Length > 0)
{
		<div class='alert alert-warning alert-dismissible fade show' role='alert'>
			<strong>@Model.errorMessage</strong>
			<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
		</div>
}

<form method="POST">
	<input type="hidden" name="=id" value="@Model.participantInfo.id" />
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Name</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="firstName" value="@Model.participantInfo.firstName">
		</div>
	</div>

	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Email</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="lastName" value="@Model.participantInfo.lastName">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Phone</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="securityNumber" value="@Model.participantInfo.securityNumber">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Address</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="paymentMethod" value="@Model.participantInfo.paymentMethod">
		</div>
	</div>
	<div class="row mb-3">
		<lable class="col-sm-3 col-form-label">Lisa Info</lable>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="additionalInfo" value="@Model.participantInfo.additionalInfo">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
			<div class="row mb-3">
				<div class="col-sm-9">
					<div class='alert alert-success alert-dismissible fade show' role='alert'>
						<strong>@Model.successMessage</strong>
						<button type='button' class='btn-close' data-bs-dismiss='alert' aria-lable='Close'></button>
					</div>
				</div>
			</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Muuda</button>
			</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Tühista</a>
		</div>
	</div>
</form>
</div>
</div>